
<div class="row mt-3">
<% @messages.each do |message| %>
    <div class="col-md-4">
        <div class="card bg-dark text-white">
        <div class="card-body">
            <h4 class="card-title">Message</h4>
            <h6 class="card-subtitle mb-2 text-success"><%=message.title %></h6>
            <p class="card-text"><%=message.description %></p>
            <%= link_to 'show', message_path(message),class: "btn btn-info" %>
        </div>
        </div>
    </div>
<% end %>
</div>